* {
  padding: 0px;
  margin: 0px;
}

::-webkit-scrollbar {
  width: 0px;
}

.login-text {
  margin-bottom: 20px;
}

.login-button,
.login-button-regular {
  width: 280px;
  padding: 13.5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 12px;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid #dadada;
  background-color: white;
}

.login-button:hover {
  border: 2px solid black;
}

.login-button-regular {
  background-color: #00ac1c;
  color: white;
  border: #00ac1c;
  padding: 18px;
}

.premium {
  margin-right: 18px;
  margin-left: 18px;
  margin-top: 20px;
  padding: 12px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 5px;
  background-color: gray;
  color: white;
  border: none;
  cursor: pointer;
}

.premium:hover {
  background-color: black;
}

.logout {
  background: none;
  border: none;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

.logout:hover {
  color: gray;
  cursor: pointer;
}

.main-info {
  padding-left: 35px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.boxes {
  padding-left: 35px;
}

.latestBag {
  padding-top: 60px;
}

.menu-mobile {
  display: none;
}

#logo-mobile-login {
  display: none;
}

.login-img {
  display: block;
  width: 50vw;
  height: 100vh;
}

.login-content {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.scroll-div {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
}

@media only screen and (max-width: 768px) {
  #logo-mobile-login {
    display: block;
  }

  .login-text {
    color: white;
    font-size: 27px;
  }

  .login-img {
    display: none;
    width: 0vw;
  }

  .login-content {
    width: 100vw;
    background-image: url("./public/hiking.png");
    background-size: cover;
    background-position: center;
    align-items: flex-end;
  }

  .nav {
    display: none;
  }

  .recent {
    position: absolute;
    right: 0;
  }

  .main-info,
  .boxes {
    padding: 25px;
  }

  .latestBag {
    padding-top: 20px;
  }

  .menu-mobile {
    display: block;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .boxes {
    display: flex;
    justify-content: center;
  }

  .scroll-div {
    overflow-x: scroll;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
  }

  .scroll-div input,
  .scroll-div select {
    width: auto;
  }
}
